@font-face {
  font-family: "Inter";
  src: url("assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  /* Colors */

  --clr-green: hsl(75, 94%, 57%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-700: hsl(0, 0%, 20%);
  --clr-grey-800: hsl(0, 0%, 12%);
  --clr-grey-900: hsl(0, 0%, 8%);
}

html {
  font-size: 14px;
}

@media only screen and (min-width: 375px) {
}

body {
  font-family: "Inter";
  color: var(--clr-white);
  background-color: var(--clr-grey-900);
  margin: 0;
}

main {
  display: block;
  text-align: center;
  background-color: var(--clr-grey-800);
  border-radius: 0.75rem;
  width: 375px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
}

.main-container img {
  border-radius: 50%;
  width: 25%;
  height: auto;
}

.profil-img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-container h1 {
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.main-container h2 {
  color: var(--clr-green);
  font-size: 1.1rem;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

.main-container p {
  color: lightgrey;
  margin-bottom: 2rem;
}

.social {
  padding-left: 5rem;
  padding-bottom: 30px;
}

.social ul {
  display: grid;
  align-items: center;
  margin-top: 5px;
  height: 40px;
  width: 75%;
  background-color: var(--clr-grey-700);
  border-radius: 0.4rem;
  padding: 0px;
}
